.description {
    background-color: #f4f5f7;
    max-height: 950px;
    padding: 15px;
    overflow: hidden;
    transition: 1s;
    position: relative;
    padding-bottom: 72px;
}

.description p {
    font-size: 13px;
    margin-bottom: 15px;
    line-height: 20px;
}

.hidden {
    max-height: 0;
    transition: .5s;
    padding: 0;
}


.input-container {
    text-align: center;
}

.input-container input {
    padding: 10px;
    width: 40%;
}

.description p.horario {
    color: #c4c4c4;
    text-align: center;
    font-size: 2rem;
}

.description p.horario.horario-ativo {
    color: rgb(237 100 47);
}